{:deps {:aliases [:dev :test]}

 :builds
 {:demo
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn cljs.react.demo/init}}
   :devtools {:http-root "public"
              :http-port 9011}}

  :test
  {:target :node-test
   :output-to "target/test.js"
   :autorun true}

  :benchmark
  {:target :node-script
   :main cljs.benchmark.core/-main
   :output-to "target/benchmark.js"
   :compiler-options {:optimizations :simple
                      :source-map false}}

  :release-demo
  {:target :browser
   :output-dir "target/release-demo/js"
   :asset-path "js"
   :modules {:main {:init-fn cljs.react.demo/init}}
   :compiler-options {:optimizations :advanced
                      :infer-externs :auto}}}}